header {
	background-color: red;
	position: relative;
	font-weight: 800;
}
header::before {
	content: '';
	position: absolute;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.363); /* Oscurece para mejor contraste */
}
.Navbar .nav-link {
	color: white;
}
.Navbar .nav-link:hover {
	color: darkgoldenrod;
}
