header {
	background-color: rgba(0, 0, 0, 0.611);
	position: relative;
	font-weight: 800;
}
header::before {
	content: '';
	position: absolute;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.5); /* Oscurece para mejor contraste */
}
